
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #222;
}
header {
    background-color: #014421;
    color: white;
    padding: 1.5rem;
    text-align: center;
}
main {
    padding: 2rem;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
